* {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}
header {
    margin: 0;
}
nav {
    background-color: #191919;
    font-family: 'Roboto Mono', monospace;
    font-size: 100%;
    margin: 0;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
nav li {
    display: inline-block;
    width: 15%;
}
nav a {
    color: #f2b422;
    text-decoration: none;
}
nav a:hover {
    background-color: #f2b422;
    color: #191919;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
main {
    position: relative;
    top: 15px;
}
#intro {
    background-color: #f2b422;
    margin: 0;
    padding: 5% 20%;
}
#intro p {
    color: #191919;
    font-family: 'Roboto Mono', monospace;
    font-size: 110%;
    text-align: justify;
}
#contact h3 {
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 30px;
}
#contact {
    margin-top: 3%;
    text-align: center;
}
#contact a {
    background-color: #191919;
    border-radius: 10%;
    color: #f2b422;
    font-size: 200%;
    margin: 30px;
    padding: 10px;
}
#contact a:hover {
    background-color: #f2b422;
    color: #191919;
    transition-duration: 0.3s;
    transition-timing-function: ease;}
.black {
    background-color: #191919;
    color: #f2b422;
    display: inline-block;
    height: auto;
    width: 100%;
}
.black a, .yellow .align-right a {
    background-color: #f2b422;
    color: #191919;
}
.black a:hover, .yellow .align-right a:hover {
    background-color: #191919;
    color: #f2b422;
    transition-duration: 0.3s;
    transition-timing-function: ease;}
.black button {
    background-color: #f2b422;
    border: 1px solid transparent;
    border-radius: 100px;
    color: #191919;
    display: inline;
    font-family: 'Roboto Mono', monospace;
    font-size: 80%;
    margin: 3px;
    padding: 5px;
}
.yellow {
    background-color: #f2b422;
    color: #191919;
    display: inline-block;
    height: auto;
    padding-bottom: 3%;
    width: 100%;
}
.yellow a, .black .align-right a {
    background-color: #191919;
    color: #f2b422;
}
.yellow a:hover, .black .align-right a:hover {
    background-color: #f2b422;
    color: #191919;
    transition-duration: 0.3s;
    transition-timing-function: ease;}
.yellow button {
    background-color: #191919;
    border: 1px solid transparent;
    border-radius: 100px;
    color: #f2b422;
    display: inline;
    font-family: 'Roboto Mono', monospace;
    font-size: 80%;
    margin: 3px;
    padding: 5px;
}
.inside {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    padding: 0 10%;
}
.inside p {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}
.black h3, .yellow h3, .black p, .yellow p {
    margin: 30px;
}
.black h3, .yellow h3 {
    margin-top: 65px;
}
#professional {

}
#education {

}
#skills {

}
#languages {

}
#hobbies {

}
h1 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 4em;
    margin: 0;
    text-align: center;
}
h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 2em;
    margin: 0;
    text-align: center;
}
h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 250%;
    text-align: center;
}
img {
    border: 1px solid transparent;
    border-radius: 100%;
    display: block;
    margin: 30px auto 30px auto;
    text-align: center;
    height: 13em;
    width: 13em;
}
a {
    text-decoration: none;
}
p {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 150%;
    text-align: left;
}
table {
    border: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 150%;
    margin: 0;
    padding: 3%;
    text-align: center;
    width: 100%;
}
th, td, tr {
    border: 0;
    font-size: 100%;
    padding: 1%;
    width: 33%;
}
#languages th {
    background-color: #f2b422;
    color: #191919;
    font-weight: 900;
}
td {
    font-weight: 200;
    vertical-align: top;
}
.black .align-left {
    border-bottom: 3px solid #f2b422;
    text-align: left;
}
.black .align-right {
    background-color: #f2b422;
    border-bottom: 3px solid #191919;
    color: #191919;
    text-align: right;
}
.yellow .align-left {
    border-bottom: 3px solid #191919;
    text-align: left;
}
.yellow .align-right {
    background-color: #191919;
    border-bottom: 3px solid #f2b422;
    color: #f2b422;
    text-align: right;
}
footer {
    background-color: #191919;
    bottom: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}
footer p {
    color: #f2b422;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    text-align: center;
}
